
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro-content-non {
    display: flex;
    flex-direction: column;
}

.example-card {
    max-width: 400px;
}
